.container {
	display: grid;
	justify-content: center;
	column-gap: 20px;
	margin-top: 40px;
}

.grid {
	width: 500px;
	height: 500px;
	display: grid;
	grid-template-columns: repeat(var(--sideSize), 1fr);
	grid-template-rows: repeat(var(--sideSize), 1fr);
	border: 4px solid #333333;
	background: #333333;
}
